<footer
  wire:id="HPJgJmVQuLGBmg6FSEzU"
  class="bg-slate-900"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <a href="/">
          <span class="sr-only">Cartify</span>
          <img
            src="https://cartify.novabolt.dev/img/logo.png"
            alt="Cartify"
            class="h-8 w-auto"
            height="32"
            width="32"
          />
        </a>
        <p class="text-sm leading-6 text-slate-300">
          Modernize Your Home, Simplify Your Day with Our Appliances and
          Gadgets.
        </p>
      </div>
      <div
        class="mt-16 grid grid-cols-2 gap-8 sm:grid-cols-4 xl:col-span-2 xl:mt-0"
      >
        <div class="">
          <h3 class="text-sm font-semibold leading-6 text-white">
            Popular collections
          </h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a
                href="/collections/speakers"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                Speakers
              </a>
            </li>
            <li>
              <a
                href="/collections/headphones"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                Headphones
              </a>
            </li>
            <li>
              <a
                href="/collections/all-tvs"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                LED TVs
              </a>
            </li>
            <li>
              <a
                href="/collections/smartphones"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                Smartphones
              </a>
            </li>
          </ul>
        </div>
        <div class="">
          <h3 class="text-sm font-semibold leading-6 text-white">
            Customer service
          </h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a
                href="/contact"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                Contact us
              </a>
            </li>
            <li>
              <a
                href="/pages/shipping"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                Shipping
              </a>
            </li>
            <li>
              <a
                href="/pages/free-exchanges-easy-returns"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                Returns
              </a>
            </li>
          </ul>
        </div>
        <div class="">
          <h3 class="text-sm font-semibold leading-6 text-white">Company</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a
                href="/pages/about-us"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                About us
              </a>
            </li>
            <li>
              <a
                href="/pages/careers"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                Careers
              </a>
            </li>
            <li>
              <a
                href="/pages/affiliates"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                Affiliates
              </a>
            </li>
          </ul>
        </div>
        <div class="">
          <h3 class="text-sm font-semibold leading-6 text-white">Legal</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a
                href="/pages/terms-of-service"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                Terms &amp; Conditions
              </a>
            </li>
            <li>
              <a
                href="/pages/privacy-statement"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                Privacy Policy
              </a>
            </li>
            <li>
              <a
                href="/pages/cookie-consent"
                class="text-sm leading-6 text-slate-300 hover:text-white"
              >
                Cookies
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="mt-16 border-t border-white/10 pt-8 sm:mt-20 md:flex md:items-center md:justify-between lg:mt-24"
    >
      <div class="flex space-x-6 md:order-2">
        <a
          href="https://facebook.com/nextgn"
          class="text-slate-500 hover:text-slate-400"
        >
          <span class="sr-only">Facebook</span>
          <svg
            class="h-6 w-6"
            fill="currentColor"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Facebook</title>
            <path
              d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"
            ></path>
          </svg>
        </a>
        <a
          href="https://twitter.com/nextgn"
          class="text-slate-500 hover:text-slate-400"
        >
          <span class="sr-only">Twitter</span>
          <svg
            class="h-6 w-6"
            fill="currentColor"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Twitter</title>
            <path
              d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
            ></path>
          </svg>
        </a>
        <a
          href="https://youtube.com/c/nextgn"
          class="text-slate-500 hover:text-slate-400"
        >
          <span class="sr-only">YouTube</span>
          <svg
            class="h-6 w-6"
            fill="currentColor"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>YouTube</title>
            <path
              d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"
            ></path>
          </svg>
        </a>
      </div>
      <p class="mt-8 text-xs leading-5 text-gray-400 md:order-1 md:mt-0">
        © 2023 Cartify. All rights reserved.
      </p>
    </div>
  </div>
</footer>
