<app-banner />

<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner"></div>
</div>
<div *ngIf="!isLoading">
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <header class="flex justify-between items-center">
        <div class="">
          <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
            Product Collection
          </h2>

          <p class="mt-4 max-w-md text-gray-500">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
            praesentium cumque iure dicta incidunt est ipsam, officia dolor
            fugit natus?
          </p>
        </div>
        <div class="flex justify-between items-center gap-3">
          <div
            class="flex px-4 py-3 rounded-md border-2 border-stone-200 overflow-hidden max-w-md mx-auto font-[sans-serif]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 192.904 192.904"
              width="16px"
              class="fill-gray-600 mr-3 rotate-90"
            >
              <path
                d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z"
              ></path>
            </svg>
            <input
              [(ngModel)]="keyword"
              name="keyword"
              type="search"
              placeholder="Search Something..."
              class="w-full bg-transparent text-gray-600 text-sm outline-none"
            />
          </div>
          <!-- dropdown.component.html -->
          <div class="relative font-[sans-serif] w-max mx-auto">
            <div class="flex justify-center items-center gap-2">
              <select
                [(ngModel)]="selectedCategoryId"
                class="block w-full px-4 py-3 border border-gray-300 bg-white text-gray-700 text-sm"
              >
                <option [value]="0">Tất cả</option>
                <option class="flex justify-center items-center"
                  *ngFor="let category of categories"
                  [value]="category.id"
                >
                  {{ category.name }}
                </option>
              </select>
              <button
                (click)="searchProducts()"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded py-3 w-36"
              >
                Tìm kiếm
              </button>
            </div>
          </div>
        </div>
      </header>
      <!-- Category -->
      <app-show-category />

      <!-- Products -->
      <section
        class="bg-white px-4 pt-24 space-y-5 sm:px-6 sm:pt-32 xl:mx-auto xl:max-w-7xl lg:px-8"
      >

        <img
          src="https://cartify.novabolt.dev/storage/templates/home-page/banners/p2HejPKWo4KmRfhknI7fETJZ3vxpLwHIckeHUUXr.jpg"
          alt="Xiaomi Smartphones"
          class="w-full h-auto object-cover object-center rounded-lg"
        />
        <div wire:id="NdZygOqtH3zndDBFu77X">
          <div class="mt-5 relative">
            <div
              class="-mx-px grid grid-cols-1 sm:mx-0 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
            >

              <div *ngFor="let product of products"
                class="group relative rounded-lg p-4 ring-1 ring-slate-200 sm:p-6 hover:ring-1 hover:ring-sky-300 hover:shadow-lg hover:shadow-sky-300/50 transition"
              >
                <div
                  class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg group-hover:opacity-75"
                >
                <a [routerLink]="['/products', product.id]">
                  <img
                    alt="Xiaomi 12 Pro"
                    class="h-60 w-full object-cover object-center"
                    [src]="product.url"

                  />
                </a>
                </div>
                <div class="pb-4 pt-10 text-center">
                  <h3 class="text-sm font-medium text-slate-900 line-clamp-2">
                    <a
                    [routerLink]="['/products', product.id]"
                    >
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      {{product.name}}
                    </a>
                  </h3>
                  <div class="mt-3 flex flex-col items-center">
                    <p class="sr-only">1 out of 5 stars</p>
                    <div class="flex items-center">
                      <svg
                        class="h-5 w-5 flex-shrink-0 text-sky-500"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                      <svg
                        class="h-5 w-5 flex-shrink-0 text-sky-500"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                      <svg
                        class="h-5 w-5 flex-shrink-0 text-sky-500"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                      <svg
                        class="h-5 w-5 flex-shrink-0 text-sky-500"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                      <svg
                        class="h-5 w-5 flex-shrink-0 text-slate-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                    </div>
                    <p class="mt-1 text-sm text-slate-500">{{product.category_id}}</p>
                  </div>
                  <p class="mt-4 text-base font-medium text-slate-900">
                    {{product.price | currency : "VND" : "symbol" : "1.0-0" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="flex justify-center items-center p-10">
        <ul class="pagination flex items-center space-x-2">
          <li *ngIf="currentPage > 1">
            <a
              href="#"
              (click)="onPageChange(1, $event)"
              class="page-link bg-gray-200 hover:bg-gray-300 rounded px-3 py-1"
              >First</a
            >
          </li>
          <li *ngIf="currentPage > 1">
            <a
              href="#"
              (click)="onPageChange(currentPage - 1, $event)"
              class="page-link bg-gray-200 hover:bg-gray-300 rounded px-3 py-1"
              >Previous</a
            >
          </li>
          <ng-container *ngFor="let page of visiblePages">
            <li [ngClass]="{ 'bg-blue-500 text-white': page === currentPage }">
              <a
                href="#"
                (click)="onPageChange(page, $event)"
                class="page-link px-3 py-1 rounded"
                >{{ page }}</a
              >
            </li>
          </ng-container>
          <li *ngIf="currentPage < totalPages">
            <a
              href="#"
              (click)="onPageChange(currentPage + 1, $event)"
              class="page-link bg-gray-200 hover:bg-gray-300 rounded px-3 py-1"
              >Next</a
            >
          </li>
          <li *ngIf="currentPage < totalPages">
            <a
              href="#"
              (click)="onPageChange(totalPages, $event)"
              class="page-link bg-gray-200 hover:bg-gray-300 rounded px-3 py-1"
              >Last</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
