
<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner"></div>
</div>

<div *ngIf="!isLoading">
<div class="" *ngIf="cartItems.length === 0; else cartNotEmpty">
  <div class="mb-6 mx-auto text-center">
    <svg class="mx-auto h-24 w-24 text-slate-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path>
    </svg>
    <h3 class="mt-2 text-lg font-medium text-slate-900 ">
      Your shopping cart is currently empty
    </h3>

    <p class="mt-1 text-sm text-slate-500 ">
      Before proceed to checkout you must add some products to your shopping cart.
    </p>

    <div class="mt-6">
      <a href="/" class="btn btn-primary">
        Continue shopping
      </a>
    </div>
  </div>
</div>
<ng-template #cartNotEmpty>
  <div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:px-0">
      <h1
        class="text-center text-3xl font-bold tracking-tight text-slate-900 sm:text-4xl"
      >
        Shopping Cart
      </h1>

      <div class="mt-12">
        <section aria-labelledby="cart-heading" >
          <h2 id="cart-heading" class="sr-only">
            Items in your shopping cart
          </h2>

          <ul *ngFor="let item of cartItems"
            role="list"
            class="divide-y divide-slate-200 border-b border-t border-slate-200"
          >
            <li class="flex py-6">
              <div class="flex-shrink-0 border border-slate-200 rounded-md">
                <img
                  alt="Xiaomi 11T"
                  class="h-24 w-24 rounded-md object-cover object-center sm:h-32 sm:w-32"
                  [src]="item.product.thumbnail"
                />
              </div>

              <div class="ml-4 flex flex-1 flex-col sm:ml-6">
                <div>
                  <div class="flex justify-between">
                    <h4 class="text-sm">
                      <a
                        href="https://cartify.novabolt.dev/products/xiaomi-11t"
                        class="font-medium text-slate-700 hover:text-slate-800"
                      >
                      {{ item.product.name }}
                      </a>
                    </h4>
                    <p class="ml-4 text-sm font-medium text-slate-900">
                      {{
                        +item.product.price * item.quantity
                          | currency : "VND" : "symbol" : "1.0-0"
                      }}
                    </p>
                  </div>
                  <ul
                    class="mt-1 space-x-2 divide-x divide-slate-200 text-sm text-slate-500"
                  >
                  {{
                    item.product.price
                      | currency : "VND" : "symbol" : "1.0-0"
                  }}
                  </ul>
                </div>

                <div class="mt-4 flex flex-1 items-end justify-between">
                  <div class="flex justify-center items-center">
                    <label
                      class="block font-medium text-sm text-slate-700 dark:text-slate-200 sr-only"
                      for="quantity"
                    >
                      Quantity
                    </label>
                     <!-- Nút giảm số lượng -->
                     <button (click)="decreaseQuantity(item.product.id)"
                     class="px-2 py-1 bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold rounded-md">
                     -
                   </button>

                   <!-- Hiển thị số lượng -->
                   <p class="font-medium text-base w-10 p-3 leading-7 text-black">
                     <span class="text-gray-500">{{ item.quantity }}</span>
                   </p>

                   <!-- Nút tăng số lượng -->
                   <button (click)="increaseQuantity(item.product.id)"
                     class="px-2 py-1 bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold rounded-md">
                     +
                   </button>
                  </div>
                  <div class="ml-4">
                    <button
                    (click)="removeItem(item.product.id)"
                      type="button"
                      class="btn btn-link"
                    >
                      <span>Remove</span>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <h2 id="summary-heading" class="sr-only">Order summary</h2>

          <div>
            <dl class="space-y-4">
              <div class="flex items-center justify-between">
                <dt class="text-base font-medium text-slate-900">Subtotal</dt>
                <dd class="ml-4 text-base font-medium text-slate-900">
                  {{ totalPrice | currency : "VND" : "symbol" : "1.0-0" }}
                </dd>
              </div>
            </dl>
            <p class="mt-1 text-sm text-slate-500">
              Shipping and taxes will be calculated at checkout.
            </p>
          </div>

          <div class="mt-10">
            <button (click)="orderPlace()"
             class="btn btn-primary btn-xl w-full">
                Checkout
            </button>
        </div>

          <div class="mt-6 text-center text-sm">
            <p>
              or
              <a
                href="/"
                class="btn btn-link"
              >
                Continue Shopping
                <span aria-hidden="true"> →</span>
              </a>
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>

</ng-template>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------- -->
