<div class="mx-auto max-w-2xl px-4 lg:max-w-7xl lg:px-8">
  <div
    class="flex items-baseline justify-between border-b border-slate-200 pb-6 pt-24"
  >
    <h1 class="text-4xl font-bold tracking-tight text-slate-900">Speakers</h1>
  </div>

  <div class="pt-12 pb-24 lg:grid lg:grid-cols-3 lg:gap-x-8 xl:grid-cols-4">
    <aside>
      <h2 class="sr-only">Filters</h2>

      <button type="button" class="inline-flex items-center lg:hidden">
        <span class="text-sm font-medium text-slate-700">Filters</span>
        <svg
          class="ml-1 h-5 w-5 flex-shrink-0 text-slate-400"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
          ></path>
        </svg>
      </button>
      <div class="hidden lg:block">
        <div class="space-y-10 divide-y divide-slate-200">
          <div class="">
            <fieldset>
              <legend class="block text-sm font-medium text-slate-900">
                Color
              </legend>
              <div class="space-y-3 pt-6">
                <div class="inline-flex">
                  <label for="optionValue-26" class="block relative w-8 h-8">
                    <input
                      type="checkbox"
                      id="optionValue-26"
                      value="Black"
                      class="sr-only peer"
                    />
                    <span
                      class="inline-flex justify-center items-center w-full h-full rounded-full shadow bg-center bg-cover cursor-pointer duration-150"
                      style="background-color: #000000"
                    ></span>
                    <svg
                      class="w-5 h-5 text-white absolute inset-0 m-auto z-0 pointer-events-none hidden peer-checked:block duration-150"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </label>
                </div>
                <div class="inline-flex">
                  <label for="optionValue-27" class="block relative w-8 h-8">
                    <input
                      type="checkbox"
                      id="optionValue-27"
                      value="Grey"
                      class="sr-only peer"
                    />
                    <span
                      class="inline-flex justify-center items-center w-full h-full rounded-full shadow bg-center bg-cover cursor-pointer duration-150"
                      style="background-color: #808080"
                    ></span>
                    <svg
                      class="w-5 h-5 text-white absolute inset-0 m-auto z-0 pointer-events-none hidden peer-checked:block duration-150"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </label>
                </div>
                <div class="inline-flex">
                  <label for="optionValue-35" class="block relative w-8 h-8">
                    <input
                      type="checkbox"
                      id="optionValue-35"
                      value="White"
                      class="sr-only peer"
                    />
                    <span
                      class="inline-flex justify-center items-center w-full h-full rounded-full shadow bg-center bg-cover cursor-pointer duration-150"
                      style="background-color: #ffffff"
                    ></span>
                    <svg
                      class="w-5 h-5 text-white absolute inset-0 m-auto z-0 pointer-events-none hidden peer-checked:block duration-150"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </label>
                </div>
                <div class="inline-flex">
                  <label for="optionValue-39" class="block relative w-8 h-8">
                    <input
                      type="checkbox"
                      id="optionValue-39"
                      value="Blue"
                      class="sr-only peer"
                    />
                    <span
                      class="inline-flex justify-center items-center w-full h-full rounded-full shadow bg-center bg-cover cursor-pointer duration-150"
                      style="background-color: #042491"
                    ></span>
                    <svg
                      class="w-5 h-5 text-white absolute inset-0 m-auto z-0 pointer-events-none hidden peer-checked:block duration-150"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </label>
                </div>
                <div class="inline-flex">
                  <label for="optionValue-40" class="block relative w-8 h-8">
                    <input
                      type="checkbox"
                      id="optionValue-40"
                      value="Red"
                      class="sr-only peer"
                    />
                    <span
                      class="inline-flex justify-center items-center w-full h-full rounded-full shadow bg-center bg-cover cursor-pointer duration-150"
                      style="background-color: #b93332"
                    ></span>
                    <svg
                      class="w-5 h-5 text-white absolute inset-0 m-auto z-0 pointer-events-none hidden peer-checked:block duration-150"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </label>
                </div>
                <div class="inline-flex">
                  <label for="optionValue-41" class="block relative w-8 h-8">
                    <input
                      type="checkbox"
                      id="optionValue-41"
                      value="Teal"
                      class="sr-only peer"
                    />
                    <span
                      class="inline-flex justify-center items-center w-full h-full rounded-full shadow bg-center bg-cover cursor-pointer duration-150"
                      style="background-color: #37b9b5"
                    ></span>
                    <svg
                      class="w-5 h-5 text-white absolute inset-0 m-auto z-0 pointer-events-none hidden peer-checked:block duration-150"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </label>
                </div>
                <div class="inline-flex">
                  <label for="optionValue-45" class="block relative w-8 h-8">
                    <input
                      type="checkbox"
                      id="optionValue-45"
                      value="Green"
                      class="sr-only peer"
                    />
                    <span
                      class="inline-flex justify-center items-center w-full h-full rounded-full shadow bg-center bg-cover cursor-pointer duration-150"
                      style="background-color: #328b86"
                    ></span>
                    <svg
                      class="w-5 h-5 text-white absolute inset-0 m-auto z-0 pointer-events-none hidden peer-checked:block duration-150"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </label>
                </div>
                <div class="inline-flex">
                  <label for="optionValue-47" class="block relative w-8 h-8">
                    <input
                      wire:model="selected_options.Color"
                      type="checkbox"
                      id="optionValue-47"
                      value="Sand"
                      class="sr-only peer"
                    />
                    <span
                      class="inline-flex justify-center items-center w-full h-full rounded-full shadow bg-center bg-cover cursor-pointer duration-150"
                      style="background-color: #938b66"
                    ></span>
                    <svg
                      class="w-5 h-5 text-white absolute inset-0 m-auto z-0 pointer-events-none hidden peer-checked:block duration-150"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </label>
                </div>
                <div class="inline-flex">
                  <label for="optionValue-49" class="block relative w-8 h-8">
                    <input
                      wire:model="selected_options.Color"
                      type="checkbox"
                      id="optionValue-49"
                      value="Yellow"
                      class="sr-only peer"
                    />
                    <span
                      class="inline-flex justify-center items-center w-full h-full rounded-full shadow bg-center bg-cover cursor-pointer duration-150"
                      style="background-color: #e5b844"
                    ></span>
                    <svg
                      class="w-5 h-5 text-white absolute inset-0 m-auto z-0 pointer-events-none hidden peer-checked:block duration-150"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </label>
                </div>
                <div class="inline-flex">
                  <label for="optionValue-57" class="block relative w-8 h-8">
                    <input
                      wire:model="selected_options.Color"
                      type="checkbox"
                      id="optionValue-57"
                      value="Pink"
                      class="sr-only peer"
                    />
                    <span
                      class="inline-flex justify-center items-center w-full h-full rounded-full shadow bg-center bg-cover cursor-pointer duration-150"
                      style="background-color: #e5a8af"
                    ></span>
                    <svg
                      class="w-5 h-5 text-white absolute inset-0 m-auto z-0 pointer-events-none hidden peer-checked:block duration-150"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="pt-10">
            <fieldset>
              <legend class="block text-sm font-medium text-slate-900">
                Price
              </legend>
              <div class="space-y-3 pt-6">
                <div

                  class="slider-fit noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr"
                >
                  <div class="noUi-base">
                    <div class="noUi-connects">
                      <div
                        class="noUi-connect"
                        style="transform: translate(0%, 0px) scale(1, 1)"
                      ></div>
                    </div>
                    <div
                      class="noUi-origin"
                      style="transform: translate(-100%, 0px); z-index: 5"
                    >
                      <div
                        class="noUi-handle noUi-handle-lower"
                      >
                        <div class="noUi-touch-area"></div>
                      </div>
                    </div>
                    <div
                      class="noUi-origin"
                      style="transform: translate(0%, 0px); z-index: 4"
                    >
                      <div
                        class="noUi-handle noUi-handle-upper"

                      >
                        <div class="noUi-touch-area"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="text-center text-sm text-slate-700">
                  from $<span x-text="selectedMin">0</span> to $<span
                    x-text="selectedMax"
                    >499.95</span
                  >
                </p>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </aside>

    <section class="mt-6 lg:col-span-2 lg:mt-0 xl:col-span-3">
      <h2 id="product-heading" class="sr-only">Products</h2>

      <div
        class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:gap-x-8 xl:grid-cols-3"
      >
        <div *ngFor="let product of products"
          class="group relative flex flex-col overflow-hidden rounded-lg border border-slate-200 bg-white hover:border-sky-300 hover:shadow-lg hover:shadow-sky-300/50 transition duration-150"
        >
          <div
            class="aspect-w-3 aspect-h-4 group-hover:opacity-75 sm:aspect-none"
          >
          <a [routerLink]="['/products', product.id]">

            <img
              alt="Harman Kardon Citation 100 Smart Home Speaker"
              class="h-60 w-full object-cover object-center"
              [src]="product.url"
              width="600"
              height="600"
            />

          </a>
          </div>
          <div
            class="flex flex-1 flex-col items-center text-center space-y-2 p-4"
          >
            <h3 class="text-sm font-medium text-slate-900 line-clamp-2">
              <a
              [routerLink]="['/products', product.id]"
              >
                <span class="absolute inset-0"></span>
                {{product.name}}
              </a>
            </h3>
            <ul role="list" class="flex items-center space-x-3">
              <li
                class="h-4 w-4 rounded-full border border-black border-opacity-10"
                style="background-color: #000000"
              >
                <span class="sr-only">Black</span>
              </li>
              <li
                class="h-4 w-4 rounded-full border border-black border-opacity-10"
                style="background-color: #808080"
              >
                <span class="sr-only">Grey</span>
              </li>
            </ul>
            <div class="pt-1 flex flex-1 flex-col justify-end">
              <p class="text-base font-medium text-slate-900">{{product.price | currency : "VND" : "symbol" : "1.0-0" }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <div class="flex justify-center items-center p-10">
          <ul class="pagination flex items-center space-x-2">
            <li *ngIf="currentPage > 1">
              <a
                href="#"
                (click)="onPageChange(1, $event)"
                class="page-link bg-gray-200 hover:bg-gray-300 rounded px-3 py-1"
                >First</a
              >
            </li>
            <li *ngIf="currentPage > 1">
              <a
                href="#"
                (click)="onPageChange(currentPage - 1, $event)"
                class="page-link bg-gray-200 hover:bg-gray-300 rounded px-3 py-1"
                >Previous</a
              >
            </li>
            <ng-container *ngFor="let page of visiblePages">
              <li [ngClass]="{ 'bg-blue-500 text-white': page === currentPage }">
                <a
                  href="#"
                  (click)="onPageChange(page, $event)"
                  class="page-link px-3 py-1 rounded"
                  >{{ page }}</a
                >
              </li>
            </ng-container>
            <li *ngIf="currentPage < totalPages">
              <a
                href="#"
                (click)="onPageChange(currentPage + 1, $event)"
                class="page-link bg-gray-200 hover:bg-gray-300 rounded px-3 py-1"
                >Next</a
              >
            </li>
            <li *ngIf="currentPage < totalPages">
              <a
                href="#"
                (click)="onPageChange(totalPages, $event)"
                class="page-link bg-gray-200 hover:bg-gray-300 rounded px-3 py-1"
                >Last</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>

    </div>
</div>
