.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
}

.noUi-horizontal {
  height: 18px;
}
.noUi-target {
  position: relative;
}
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  touch-action: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
.noUi-horizontal {
  height: 9px !important;
}
.noUi-target {
  border-width: 1px !important;
  --tw-border-opacity: 1 !important;
  border-color: rgb(226 232 240 / 1) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(248 250 252 / 1) !important;
}
.slider-fit {
  padding: 0 16px;
}
.noUi-base, .noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-horizontal .noUi-handle {
  height: 16px !important;
  width: 16px !important;
  top: -5px !important;
}
