<section class="bg-white py-8 antialiased md:py-16">
  <form
    *ngIf="orderTypeResponse"
    action="#"
    class="mx-auto max-w-screen-xl px-4 2xl:px-0"
  >
    <div class="mx-auto max-w-3xl">
      <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">
        Thank you for your order!
      </h2>

      <div
        class="mt-6 space-y-4 border-b border-t border-gray-200 py-8 sm:mt-8"
      >
        <h4 class="text-lg font-semibold text-gray-900">
          Billing & Delivery information
        </h4>

        <dl>
          <dt class="text-base font-medium text-gray-900">Individual</dt>
          <p class="mt-1 text-base font-normal text-gray-500">
            {{ orderTypeResponse.fullname }} -
            {{ orderTypeResponse.phone_number }},
            {{ orderTypeResponse.shipping_address }}/{{
              orderTypeResponse.address
            }}
            <br />
            {{ orderTypeResponse.shipping_date }}
          </p>
        </dl>

        <button
          type="button"
          (click)="toggleModal()"
          class="text-base font-medium text-primary-700 hover:underline"
        >
          Thông tin chi tiết
        </button>
      </div>

      <div *ngIf="orderTypeResponse"
      class="mt-6 sm:mt-8">
        <div class="relative overflow-x-auto border-b border-gray-200">
          <table
            class="w-full text-left font-medium text-gray-900 md:table-fixed"
          >
            <tbody
            class="divide-y divide-gray-200">
              <!-- Ordering Product -->
              <tr *ngFor="let item of orderTypeResponse.order_detail">
                <td class="whitespace-nowrap py-4 md:w-[384px]">
                  <div class="flex items-center gap-4">
                    <a
                      href="#"
                      class="flex items-center aspect-square w-20 h-20 shrink-0"
                    >
                      <img
                        class="h-full w-full max-h-full"
                        [src]="item.product.thumbnail"
                        alt="imac image"
                      />
                    </a>
                    <a href="#" class="hover:underline">{{item.product.name}}</a>
                  </div>
                </td>

                <td class="p-4 text-base font-normal text-gray-900">{{item.numberOfProduct}}</td>

                <td class="p-4 text-right text-base font-bold text-gray-900">
                  {{item.price | currency : "VND" : "symbol" : "1.0-0"}}
                </td>
                <td class="p-4 text-right text-base font-bold text-gray-900">
                  {{(item.price)*(item.numberOfProduct) | currency : "VND" : "symbol" : "1.0-0"}}
                </td>
              </tr>
              <!-- end -->
            </tbody>
          </table>
        </div>

        <div class="mt-4 space-y-6">

          <div class="space-y-4">
            <dl
              class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 d"
            >
              <dt class="text-lg font-bold text-gray-900">Total</dt>
              <dd class="text-lg font-bold text-gray-900">{{ totalOrderAmount | currency : "VND" : "symbol" : "1.0-0" }}</dd>
            </dl>
          </div>

          <!-- <div class="gap-4 sm:flex sm:items-center">
            <button
            (click)="navigate()"
              type="button"
              class="w-full rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100"
            >
              Return to Shopping
            </button>

            <button
              type="submit"
              class="mt-4 flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 sm:mt-0"
            >
              Send the order
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </form>
</section>

<div
  [ngClass]="{ hidden: !isModalOpen, flex: isModalOpen }"
  id="billingInformationModal"
  tabindex="-1"
  aria-hidden="true"
  class="antialiased fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-auto w-full max-h-full items-center justify-center overflow-y-auto overflow-x-hidden antialiased md:inset-0"
>
  <div class="relative max-h-auto w-full max-h-full max-w-lg p-4">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white shadow">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 md:p-5"
      >
        <h3 class="text-lg font-semibold text-gray-900">Billing Information</h3>
        <button
          (click)="toggleModal()"
          type="button"
          class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900"
          data-modal-toggle="billingInformationModal"
        >
          <svg
            class="h-3 w-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5" *ngIf="orderTypeResponse">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 mb-5">
          <div class="flex items-center gap-4 sm:col-span-2"></div>

          <div>
            <label
              for="first_name_billing_modal"
              class="mb-2 block text-sm font-medium text-gray-900"
            >
              Full Name*
            </label>
            <p
              class="block w-full h-10 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500"
            >
              {{ orderTypeResponse.fullname }}
            </p>
          </div>

          <div>
            <label
              for="last_name_billing_modal"
              class="mb-2 block text-sm font-medium text-gray-900"
            >
              Email*
            </label>
            <p
              class="block w-full h-10 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500"
            >
              {{ orderTypeResponse.email }}
            </p>
          </div>

          <div class="sm:col-span-2">
            <label
              for="phone-input_billing_modal"
              class="mb-2 block text-sm font-medium text-gray-900"
            >
              Phone Number*
            </label>
            <div class="flex justify-center items-center">
              <button
                class="z-10 inline-flex shrink-0 items-center rounded-s-lg border border-gray-300 bg-gray-100 px-4 py-2.5 text-center text-sm font-medium text-gray-900 hover:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-gray-100"
              >
                <svg
                  fill="none"
                  aria-hidden="true"
                  class="me-2 h-4 w-4"
                  viewBox="0 0 20 15"
                >
                  <!-- Nền màu đỏ -->
                  <rect width="20" height="15" fill="#DA251D" />

                  <!-- Ngôi sao vàng -->
                  <polygon
                    fill="#FFCD00"
                    points="10,3 11.18,7.09 15.45,7.09 12.14,9.27 13.32,13.5 10,11.09 6.68,13.5 7.86,9.27 4.55,7.09 8.82,7.09"
                  />
                </svg>

                +84
              </button>

              <div class="relative w-full">
                <p
                  class="z-20 block w-full h-10 rounded-e-lg border border-s-0 border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500"
                >
                  {{ orderTypeResponse.phone_number }}
                </p>
              </div>
            </div>
          </div>

          <div>
            <label
              for="first_name_billing_modal"
              class="mb-2 block text-sm font-medium text-gray-900"
            >
              Address
            </label>
            <p
              class="block w-full h-10 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500"
            >
              {{ orderTypeResponse.address }}
            </p>
          </div>

          <div>
            <label
              for="last_name_billing_modal"
              class="mb-2 block text-sm font-medium text-gray-900"
            >
              Shipping Address
            </label>
            <p
              class="block w-full h-10 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500"
            >
              {{ orderTypeResponse.shipping_address }}
            </p>
          </div>

          <div>
            <label
              for="first_name_billing_modal"
              class="mb-2 block text-sm font-medium text-gray-900"
            >
              Payment
            </label>
            <p
              class="block w-full h-10 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500"
            >
              {{ orderTypeResponse.payment_method }}
            </p>
          </div>

          <div class="sm:col-span-2">
            <label
              for="address_billing_modal"
              class="mb-2 block text-sm font-medium text-gray-900"
            >
              Note
            </label>
            <p
              class="block w-full h-16 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500"
            >
              {{ orderTypeResponse.note }}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
