<header class="relative bg-white">
  <div class="bg-sky-700">
    <div
      class="mx-auto flex h-10 max-w-7xl items-center justify-between px-4 sm:px-6 lg:px-8"
    >
      <p class="text-sm font-medium text-white">Welcome to our store!</p>
      <div
        class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6"
      >
        <a
          href="https://www.google.com/maps"
          class="text-sm font-medium text-white hover:text-gray-100"
        >
          Our locations
        </a>
        <span class="h-6 w-px bg-sky-600/50" aria-hidden="true"></span>
        <a
          href="/contact"
          class="text-sm font-medium text-white hover:text-gray-100"
        >
          Contact us
        </a>
      </div>
    </div>
  </div>

  <div class="border-b border-slate-200">
    <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex flex-1 lg:hidden">
          <button type="button" class="bg-white -ml-2 p-2 text-slate-400">
            <span class="sr-only">Open menu</span>
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>

        <a href="/">
          <span class="sr-only">Cartify</span>
          <img
            src="https://cartify.novabolt.dev/img/logo.png"
            alt="Cartify"
            class="h-8 w-auto"
            height="32"
            width="32"
          />
        </a>

        <div class="hidden lg:ml-8 lg:block lg:self-stretch">
          <div class="flex h-full justify-center space-x-8">
            <a
              [ngClass]="{ active: activeNaveItem === 0 }"
              (click)="setActiveNavItem(0)"
              routerLink="/"
              class="flex items-center text-sm font-medium text-slate-700 hover:text-slate-800"
            >
              Home
            </a>
            <a
              [ngClass]="{ active: activeNaveItem === 1 }"
              (click)="setActiveNavItem(1)"
              routerLink="/shop"
              class="flex items-center text-sm font-medium text-slate-700 hover:text-slate-800"
            >
              Shop
            </a>
            <a
              [ngClass]="{ active: activeNaveItem === 2 }"
              (click)="setActiveNavItem(2)"
              routerLink="/blog"
              class="flex items-center text-sm font-medium text-slate-700 hover:text-slate-800"
            >
              Blog
            </a>
            <a
              [ngClass]="{ active: activeNaveItem === 3 }"
              (click)="setActiveNavItem(3)"
              routerLink="/contact"
              class="flex items-center text-sm font-medium text-slate-700 hover:text-slate-800"
            >
              Contact
            </a>
          </div>
        </div>

        <div class="flex flex-1 items-center justify-end lg:ml-auto">
          <div
            *ngIf="!userResponse"
            class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6"
          >
            <a
              href="login"
              class="text-sm font-medium text-slate-700 hover:text-slate-800"
            >
              Sign in
            </a>
            <span class="h-6 w-px bg-slate-200" aria-hidden="true"></span>
            <a
              href="register"
              class="text-sm font-medium text-slate-700 hover:text-slate-800"
            >
              Create account
            </a>
          </div>
          <div
            *ngIf="userResponse"
            class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6"
          >
            <button
              (click)="toggleDropdown()"
              class="text-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
              type="button"
            >
              {{ userResponse.fullname }}
              <svg
                class="w-2.5 h-2.5 ms-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
          </div>
          <div
            *ngIf="isDropdownOpen"
            class="z-50 absolute top-24 bg-white divide-y divide-gray-100 rounded-lg w-44"
          >
            <ul class="py-2 text-sm text-gray-700">
              <li>
                <a
                  class="block px-4 py-2 hover:bg-gray-100"
                  (click)="handlClick(0)"
                  >Logout</a
                >
              </li>
              <li>
                <a
                  class="block px-4 py-2 hover:bg-gray-100"
                  (click)="handlClick(1)"
                  >My Order</a
                >
              </li>
              <li *ngIf="isAdmin">
                <a
                  class="block px-4 py-2 hover:bg-gray-100"
                  (click)="handlClick(2)"
                  >Admin</a
                >
              </li>
            </ul>
          </div>

          <!-- Cart -->
          <div class="ml-4 flow-root lg:ml-6">
            <a href="/cart" class="group -m-2 flex items-center p-2">
              <svg
                class="h-6 w-6 flex-shrink-0 text-slate-400 group-hover:text-slate-500"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                ></path>
              </svg>
              <span
                class="ml-2 text-sm font-medium text-slate-700 group-hover:text-slate-800"
                >{{ totalProducts }}</span
              >
              <span class="sr-only">items in cart, view cart</span>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
